@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    min-height: 1000px;
}

p{
    font-weight: 300;
    color: #111;
}

.banner{
     position: relative;
     width: 100%;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: url(../images/firstImg2.jpg);
     background-size: cover;    
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
   font-size: 5em;
   color: #fff;
}
.banner .content p{
    font-size: 1em;
    color: #fff;
 }

 .btn{
     font-size: 1em;
     color: #fff;
     background: #ff0157;
     display: inline-block;
     padding: 10px 30px;
     margin-top: 20px;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 2px;
     transition: 0.5s;
 }

 .btn:hover{
     letter-spacing: 6px;
 }

 header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 40px 100px;
     display: flex;
     z-index: 10000;
     justify-content: space-between;
     align-items: center;
     transition: 0.5s;
 }

 header .logo{
     color: #fff;
     font-weight: 700;
     font-size: 2em;
     text-decoration: none;
 }

 header .logo span {
     color: #ff0157;
 }

 header .navigation{
     position: relative;
     display: flex;
 }

 header .navigation li{
     list-style: none;
     margin-left: 30px;

 }
 header .navigation a{
     text-decoration: none;
     color: #fff;
     font-size: 20px;
     font-weight: 300;
 }

 header.sticky{
     background: #fff;
     padding: 10px 100px;
     box-shadow: 0 5px 20px rgba(0,0,0,0.05);
 }

 header.sticky .logo{
     color: #111;
 }

 header.sticky .navigation li a{
     color: #111;
 }

 header .navigation li a:hover{
     color: #ff0157;
 }

 .titleText{
     font-weight: 300;
 }
 .titleText span{
     color: #ff0157;
     font-weight: 700;
     font-size: 1.5em;
 }
 
 .title{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .menu .content{
     display: flex;
     justify-content: center;
     flex-direction: row-reverse;
     flex-wrap: wrap;
     margin-top: 40px;
 }

 .menu .content .box{
     width: 340px;
     margin: 20px;
     border: 15px solid #fff;
     box-shadow: 0 5px 35px rgba(0,0,0,0.08);
 }
 .menu .content .box .imgBx{
     position: relative;
     width: 100%;
     height: 300px;
 }
 .menu .content .box .imgBx img{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .menu .content .box .text{
     padding: 15px 0 5px;
 }
 .menu .content .box .text h3{
     font-weight: normal;
 }

 .menu .content .box .text a{
    text-decoration: none;
    color: #111;
}

.menu .content .box .text a:hover{
    color: #ff0157;
}
.footer{
    margin-top: 30px;
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;

}

.footer span{
    color: #ff0157;
}

@media (max-width:991px){
    header,header.sticky{
        padding: 10px 20px;
    }

    header .navigation{
        display: none;

    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #b2ecec;

    }
    header .navigation li{
        margin-left: 0;

    }
    header .navigation li a{
        color: #111;
        font-size: 1.6em;

    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background: url(../images/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background-size: 30px;
        background: url(../images/close.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
}